@model IEnumerable<Midterm_Excerise.Models.AuthorStatsViewModel>

@{
    ViewData["Title"] = "Book Statistics by Author";
}

<h1>Book Statistics by Author</h1>

<table class="table table-striped table-bordered">
    <thead class="table-light">
        <tr>
            <th>Author ID</th>
            <th>Author Name</th>
            <th>Number of Books</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.AuthorName</td>
                <td>@author.BookCount</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-secondary mt-3">Back to Author List</a>
